/CS224n-Resource-master/CS224n-2019/Assignment/Assignment 1/[Finish]exploring_word_vectors.ipynb
/CS224n-Resource-master/CS224n-2019/Assignment/Assignment 1/.ipynb_checkpoints/[Finish]exploring_word_vectors-checkpoint.ipynb
